* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.code-wrapper{
    height: 50%;
    flex:1;
    position: relative;
}
#code {
    overflow: hidden;
    height: 100%;
}
.pikachu-wrapper {
    flex:1;
    background-color:#ffe600;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.actions > button {
    margin: 5px;
    padding: 5px;
}
.actions > button.active{
    box-shadow: 0 0 3px 1px grey;
}